<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="2.1.66" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.2" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite" version="5.0.17" targetFramework="net48" />
  <package id="Microsoft.Data.Sqlite.Core" version="5.0.17" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.2" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.2" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.Telemetry" version="1.5.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.TrxReport.Abstractions" version="1.5.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Extensions.VSTestBridge" version="1.5.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform" version="1.5.3" targetFramework="net48" />
  <package id="Microsoft.Testing.Platform.MSBuild" version="1.5.3" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="17.12.0" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.122" targetFramework="net48" />
  <package id="NUnit" version="4.3.2" targetFramework="net48" />
  <package id="NUnit3TestAdapter" version="5.0.0" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.106" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Wpf" version="9.0.537" targetFramework="net48" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.core" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.0.4" targetFramework="net48" />
  <package id="SQLitePCLRaw.provider.dynamic_cdecl" version="2.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>